<div class="container">
  <form ng-submit="register()">
    <div class="form-group">
      <label for="">Email</label>
      <input type="text" class="form-control" id="" ng-model="email" placeholder="Enter an email">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" id="" ng-model="password" placeholder="Enter a password">
    </div>
    <button type="submit" name="button">Register</button>
  </form>
  <button ng-href="#/">Cancel</button>
</div>
