<div class="container">
  <form ng-submit="addBook()">
    <div class="form-group">
      <label for="">Title</label>
      <input type="text" class="form-control" id="" placeholder="Enter Title" ng-model="bookFormData.title">
    </div>
    <label for="">Genre</label>
    <select ng-model="bookFormData.genre">
      <option value="javascript">Javascript</option>
      <option value="python">Python</option>
    </select>
    <div class="form-group">
      <label for="">Book Cover</label>
      <input type="url" class="form-control" id="" placeholder="Enter Title" ng-model="bookFormData.coverImgUrl">
    </div>
    <div class="form-group">
      <label for="">Add An Author One</label>
      <select ng-model="bookFormData.author_one">
        <option ng-value="author.id" ng-repeat="author in authorsList">{{author.first_name}} {{author.last_name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Add An Author Two</label>
      <select ng-model="bookFormData.author_two">
        <option ng-value="author.id" ng-repeat="author in authorsList">{{author.first_name}} {{author.last_name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Add An Author Three</label>
      <select ng-model="bookFormData.author_three">
        <option ng-value="author.id" ng-repeat="author in authorsList">{{author.first_name}} {{author.last_name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <textarea rows="8" cols="40" ng-model="bookFormData.description"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Add Book</button>
    <a ng-href="#/book/{{book.id}}"><button class="btn btn-warning" type="button" name="button">Cancel</button></a>
  </form>
</div>
